In [1]:
# https://ec.europa.eu/jrc/en/PVGIS/docs/noninteractive
# https://ec.europa.eu/jrc/en/PVGIS/releases/pvgis51
# https://re.jrc.ec.europa.eu/pvg_tools/es/#MR

from flask import Flask, jsonify, render_template, request, session
import pandas as pd # data wrangling
import requests as requests
import pandas as pd 
import json
import datetime
from math import pi
import numpy as np

#

In [3]:
# from io import StringIO
punto='0,1,-33,26'
# pp=StringIO(punto)
# pdf=pd.read_csv(pp)  
# pdf

data = punto
df = pd.DataFrame([x.split(',') for x in data.split('\n')])
df
df.at[0,2]=66

In [4]:
df

   0  1   2   3
0  0  1  66  26

In [ ]:
pp=pd.DataFrame()
pp.at[0,1]=33
pp.at[0,2]=44
pp.at[1,1]=77
pp

In [ ]:
d = pd.Series(0, index=np.arange(20))
ee=2
cc=7
oo=9
d.at[ee]=22
d.at[cc]=24
d.at[oo]=16
d.at[ee+1:cc-1]=np.nan
d.at[cc+1:oo-1]=np.nan

d=d.interpolate()
d=d.T
d.plot()

In [ ]:
d.at[8]=16